<title>Formulario Suma</title>
    </head>
    <body>
        Número uno:<input type="number" id="numero1" autofocus placeholder="Escribe un número"><br><br>
        Número dos:<input type="number" id="numero2" autofocus placeholder="Escribe un segundo número"><br><br>
        <input type="button" value="Sumar" onClick="suma()">
        <input type="button" value="limpiar" onClick="limpiar()"><br><br>

        <script type="text/javascript" src="FuncionSuma.js"></script>
        Resultado:<input type="number" id="suma" autofocus placeholder="Resultado final"><br>
    </body>
</html>
